<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Interface>Local Area Connection</Interface>
  <LowPort>9300</LowPort>
  <HighPort>9400</HighPort>
  <Definitions>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>907</Opcode>
      <Name />
      <Ignore>true</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>783</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>728</Opcode>
      <Name>.</Name>
      <Ignore>true</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>65535</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1290</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>927</Opcode>
      <Name />
      <Ignore>true</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>905</Opcode>
      <Name>DUNGEONLIST_REQ (RECV)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>906</Opcode>
      <Name>DUNGEONLIST (SEND)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>892</Opcode>
      <Name>DUNGEON_ENTRY_REQ (RECV)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>893</Opcode>
      <Name>DUNGEON_ENTRY_ACK (SEND)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>336</Opcode>
      <Name>DUNGEON_PARTY_DATA (SEND)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>148</Opcode>
      <Name>DUNGEON_LOAD_REQ (RECV)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>149</Opcode>
      <Name>DUNGEON_LOAD_ACK (SEND</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>150</Opcode>
      <Name>BATTLE_LOAD_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>909</Opcode>
      <Name>DUNGEON_COUNTDOWN (SEND)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>185</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>881</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>882</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>186</Opcode>
      <Name>?</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>160</Opcode>
      <Name>TICK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>190</Opcode>
      <Name>?</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>187</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>188</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>189</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>191</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>192</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>193</Opcode>
      <Name>?</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>194</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>195</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>196</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>197</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>198</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>60</Opcode>
      <Name>MAP+POS?</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>26</Opcode>
      <Name>VERSION_CHECK_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1288</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1289</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1338</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>27</Opcode>
      <Name>VERSION_CHECK_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>30</Opcode>
      <Name>AUTH_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>31</Opcode>
      <Name>AUTH_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>784</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1165</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>634</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>635</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>420</Opcode>
      <Name>SEND WITH 0x358</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1167</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>51</Opcode>
      <Name>? RECV</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>52</Opcode>
      <Name>? SEND</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>508</Opcode>
      <Name>DATE_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>509</Opcode>
      <Name>DATE_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>55</Opcode>
      <Name>SERVER_IP_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>56</Opcode>
      <Name>SERVER_IP_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>807</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1157</Opcode>
      <Name>? RECV</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1160</Opcode>
      <Name>? ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>35</Opcode>
      <Name>CHARACTER_DATA (SEND WITH 0x488)</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1335</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>919</Opcode>
      <Name>SEND WITH 0x358</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>922</Opcode>
      <Name>SEND WITH 0x358</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>577</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>576</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1168</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>729</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1169</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>40</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>42</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>43</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>44</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>45</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>46</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>41</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>245</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>547</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>623</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>246</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>475</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>928</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>562</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>747</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>258</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>441</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1065</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>563</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>574</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>575</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>564</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>565</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>648</Opcode>
      <Name>GUILD</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>644</Opcode>
      <Name>GUILD</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>266</Opcode>
      <Name>MOVE_ITEM</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>267</Opcode>
      <Name>MOVE_ITEM</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>461</Opcode>
      <Name>DISMANTLE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>462</Opcode>
      <Name>DISMANTLE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>272</Opcode>
      <Name>DISCARD</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>273</Opcode>
      <Name>DISCARD</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>880</Opcode>
      <Name>SORT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>881</Opcode>
      <Name>SORT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>908</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1201</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1324</Opcode>
      <Name>?</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1202</Opcode>
      <Name>.</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>414</Opcode>
      <Name>OPEN BOX</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>415</Opcode>
      <Name>OPEN BOX</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>137</Opcode>
      <Name>CHAT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>138</Opcode>
      <Name>CHAT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>259</Opcode>
      <Name />
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1378</Opcode>
      <Name>OPENSHOP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1379</Opcode>
      <Name>OPENSHOP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>976</Opcode>
      <Name>UPGRADE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>977</Opcode>
      <Name>UPGRADE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>463</Opcode>
      <Name>UPGRADE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>464</Opcode>
      <Name>UPGRADE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>403</Opcode>
      <Name>REPAIR</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>404</Opcode>
      <Name>REPAIR</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>242</Opcode>
      <Name>SELL</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>243</Opcode>
      <Name>SELL</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>240</Opcode>
      <Name>BUY 3</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>241</Opcode>
      <Name>BUY</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>465</Opcode>
      <Name>SOCKET</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>466</Opcode>
      <Name>SOCKET</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1286</Opcode>
      <Name>COBO_EXPRESS</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1287</Opcode>
      <Name>COBO_EXPRESS</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>1230</Opcode>
      <Name>CASHSHOP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1231</Opcode>
      <Name>CASHSHOP_RES</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>529</Opcode>
      <Name>ENCHANT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>530</Opcode>
      <Name>ENCHANT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>317</Opcode>
      <Name>PARTY_INVITE_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>318</Opcode>
      <Name>PARTY_INVITE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>834</Opcode>
      <Name>PVP_QUEUE_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>835</Opcode>
      <Name>PVP_QUEUE_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>836</Opcode>
      <Name>PVP_QUEUE</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>841</Opcode>
      <Name>PVP_START</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>842</Opcode>
      <Name>PVP_START_RES</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>843</Opcode>
      <Name>PVP_PLAYER_DATA</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>231</Opcode>
      <Name>MEGA</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>161</Opcode>
      <Name>SEND_EVERY_5_SECONDS</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>910</Opcode>
      <Name>COUNTDOWN_TIMER</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>929</Opcode>
      <Name>??</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>151</Opcode>
      <Name>BATTLE_LOAD</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>149</Opcode>
      <Name>BATTLE_LOAD_REQ</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>152</Opcode>
      <Name>BATTLE_LOAD_END</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>155</Opcode>
      <Name>PVP_PLAYER_DATA_2</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>957</Opcode>
      <Name>PVP_PLAYER_IDS ??????</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>139</Opcode>
      <Name>CHAT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>956</Opcode>
      <Name>????????????????????????</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>692</Opcode>
      <Name>2B4 REQ PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>693</Opcode>
      <Name>2B5 RES PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>694</Opcode>
      <Name>2B6 RES PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>695</Opcode>
      <Name>2B7 RES PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>877</Opcode>
      <Name>36D REQ PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>878</Opcode>
      <Name>36E RES PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>879</Opcode>
      <Name>36F RES PVP</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>568</Opcode>
      <Name>MOVEMENT</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1205</Opcode>
      <Name>SEND WITH VERSION_CHECK_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1206</Opcode>
      <Name>SEND WITH VERSION_CHECK_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1207</Opcode>
      <Name>SEND WITH VERSION_CHECK_ACK</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1385</Opcode>
      <Name>-</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>true</Outbound>
      <Opcode>855</Opcode>
      <Name>? RECV</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>856</Opcode>
      <Name>? SEND</Name>
      <Ignore>false</Ignore>
    </Definition>
    <Definition>
      <Build>0</Build>
      <Locale>0</Locale>
      <Outbound>false</Outbound>
      <Opcode>1204</Opcode>
      <Name>SEND WITH 0x488</Name>
      <Ignore>false</Ignore>
    </Definition>
  </Definitions>
</Config>